/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .top-text-left p {
	font-size: 12px;
}
.top-text-right span {
	font-size: 12px;
	font-weight: 300;
	padding-right: 40px;
	float: left;
	line-height: 28px;
}
span.basket a i {
	margin-top: 8px;
	font-size: 12px;
}
span.basket {
	width: 30px;
	height: 30px;
	margin-top: 17px;
	padding-right: 0px !important;
}
.navbar-brand img {
	width: 100%;
}
.menu ul li a {
	color: #fff;
	font-size: 16px;
	opacity: 1;
	line-height: 28px;
}
.banner-text {
	color: #fff;
	padding-top: 150px;
	padding-bottom: 150px;
}
.banner-text h2 {
	text-align: center;
	font-size: 45px;
}
.feature_name h3 {
	font-size: 14px;
	background-color: #fff;
	color: #454545;
	padding: 15px;
	border-radius: 50px;
	border: 4px solid #f6d17c;
}
.time_schedule {
	padding: 0;
}
.touch_text {
	padding: 0;
}
.touch_text p {
	background-color: #efc35e;
	padding: 10px 15px;
}
.tabordion {
	margin-top: 0px;
}
.all_menu a {
	font-size: 17px;
	padding: 17px 21px;
	text-align: center;
}
.favourite-text h2 {
	font-size: 22px;
	font-weight: lighter;
}
.single_recipe {
	width: 33.33333%;
	padding: 0;
	margin: 0;
}
figure img {
	width: 100%;
	height: auto;
}
figure {
	margin: 0;
	padding: 0;
	height: auto;
	position: relative;
	display: block;
	cursor: pointer;
	overflow: hidden;
}
.border_in {
	border: 1px dashed #fff;
	overflow: hidden;
	height: 312px;
	padding-top: 75px;
}
.single_client_item {
  background-color: #c05488;
  padding: 35px;
  font-family: 'Roboto Slab', serif;
  color: #fff;
}
.left-img img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 15px;
}
.left-img {
  width: 200px;
  text-align: center;
  border-right: 1px dashed #fff;
  padding-right: 30px;
}

.left-img h4 {
  font-size: 16px;
}
.left-img p {
  font-size: 14px;
}

.right-contentp p {
  font-size: 14px;
  margin-left: 40px;
  line-height: 28px;
  margin-top: 30px;
}
.client_say {
	background-color: #f6f6f6;
	padding: 70px 0;
	display: none;
}
.member1,.member2,.member3 {
	height: 290px;
	background-size: contain;
}
.info-member h4 {
	font-size: 16px;
	padding: 0;
	margin: 0;
}
.left-folow-icons ul li {
	display: inline-block;
	padding: 0;
}
#exampleInputEmail1 {
	width: 239px;
	border: none;
	border-radius: 0;
	background: #3e3e3e;
	padding: 12px;
	color: #fff;
	margin-left: 0;
	margin-top: 10px;
	font-family: 'Roboto Slab', serif;
}
.instagram_feed a img {
	width: 60px;
	height: 60px;
	padding: 3px;
}
.top-text-right span {
	font-size: 12px;
	font-weight: 300;
	padding-right: 28px;
	float: left;
	line-height: 60px;
}
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
  .top-text-left p {
	font-size: 12px;
}
.top-text-right span {
	font-size: 12px;
	font-weight: 300;
	padding-right: 40px;
	float: left;
	line-height: 28px;
}
span.basket a i {
	margin-top: 8px;
	font-size: 12px;
}
span.basket {
	width: 30px;
	height: 30px;
	margin-top: 0px;
	padding-right: 0px !important;
}
.navbar-brand img {
	width: 100%;
}
.menu ul li a {
	color: #fff;
	font-size: 12px;
	opacity: 1;
	line-height: 28px;
}
.banner-text {
	color: #fff;
	padding-top: 150px;
	padding-bottom: 150px;
}
.banner-text h2 {
	text-align: center;
	font-size: 45px;
}
.feature_name h3 {
	font-size: 14px;
	background-color: #fff;
	color: #454545;
	padding: 15px;
	border-radius: 50px;
	border: 4px solid #f6d17c;
}
.time_schedule {
	padding: 0;
}
.touch_text {
	padding: 0;
}
.touch_text p {
	background-color: #efc35e;
	padding: 10px 15px;
}
.tabordion {
	margin-top: 80px;
}
.all_menu a {
	font-size: 17px;
	padding: 17px 21px;
	text-align: center;
}
.favourite-text h2 {
	font-size: 22px;
	font-weight: lighter;
}
.single_recipe {
	width: 50%;
	padding: 0;
	margin: 0;
}
figure img {
	width: 100%;
	height: 355px;
}
.single_client_item {
  background-color: #c05488;
  padding: 35px;
  font-family: 'Roboto Slab', serif;
  color: #fff;
}
.left-img img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 15px;
}
.left-img {
  width: 200px;
  text-align: center;
  border-right: 1px dashed #fff;
  padding-right: 30px;
}

.left-img h4 {
  font-size: 16px;
}
.left-img p {
  font-size: 14px;
}

.right-contentp p {
  font-size: 14px;
  margin-left: 40px;
  line-height: 28px;
  margin-top: 30px;
}
.client_say {
	background-color: #f6f6f6;
	padding: 70px 0;
	display: none;
}
.member1,.member2,.member3 {
	height: 290px;
	background-size: contain;
}
.info-member h4 {
	font-size: 16px;
	padding: 0;
	margin: 0;
}
.left-folow-icons ul li {
	display: inline-block;
	padding: 0;
}
#exampleInputEmail1 {
	width: 239px;
	border: none;
	border-radius: 0;
	background: #3e3e3e;
	padding: 12px;
	color: #fff;
	margin-left: 0;
	margin-top: 10px;
	font-family: 'Roboto Slab', serif;
}
.instagram_feed a img {
	width: 60px;
	height: 60px;
	padding: 3px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	.top-text-right span {
	font-size: 12px;
	font-weight: 300;
	padding-right: 10px;
	float: left;
	line-height: 30px;
}
.top-text-left p {
	line-height: 30px;
	font-size: 12px;
}
span.basket {
	width: 30px;
	height: 30px;
	background-color: #c05488;
	border-radius: 50%;
	margin-top: 4px;
	padding-right: 0px !important;
	float: right !important;
	top: 0;
	position: absolute;
}
span.basket a i {
	color: #fff;
	display: block;
	text-align: center;
	margin-top: 8px;
	font-size: 12px;
}
.top-menu {
    opacity: 1;
}
.navbar{
	z-index: 100;
	background-color: #000
}
.menu ul li {
	padding: 0;
	border-bottom: 1px solid #222;
}
.menu ul li:last-child {
	border-bottom: 0;
}
.banner-text {
	padding-top: 60px;
	padding-bottom: 60px;
}
.banner-text h2 {
	font-size: 40px;
}
.banner-text p {
	padding: 0 30px;
}
.time_schedule {
	padding: 0px 50px;
	margin-bottom: 50px;
}
.popular_items img {
	margin-top: 40px;
}
.favourite-text {
	text-align: center;
}
.all_menu {
	width: 247px;
	margin: 5px auto;
}
.all_menu a {
	font-size: 18px;
	padding: 17px 48px;
}
.favourite_area {
	padding: 50px 0;
}
.healthy_text h2 {
	margin-top: 30px;
}
figure img {
	width: 100%;
	height: 100%;
}
.border_in {
	border: 1px dashed #fff;
	overflow: hidden;
	height: 335px;
	padding-top: 67px;
}
figcaption .border_in h3 {
	font-size: 18px;
}

.mobile-width{
	width: 100% !importante;
}
.right-contentp p {
	font-size: 12px;
	margin-left: 40px;
	line-height: 28px;
	margin-top: 0px;
	width: 445px;
}
.subsicrbe {
	border-left: navajowhite;
	padding-left: 0;
	overflow: hidden;
	margin-top: 5px;
	border-top: 1px solid #333;
	padding-top: 15px;
}
.site-infi,.latest_post {
	margin-bottom: 30px;
}

.right-contentp p {
  font-size: 12px;
  margin-left: 20px;
  line-height: 28px;
  margin-top: 30px;
  width: 370px !important;
}
.owl-wrap {
  width: 100% !important;
  margin: 0 auto;
}

.left-img h4 {
  font-size: 12px;
}
.left-img {
  padding-right: 25px;
}
.left-img img {
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.left-img p {
  font-size: 12px;
}
.single_client_item {
  background-color: #c05488;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  color: #fff;
}
.single_recipe {
	width: 50%;
	padding: 0;
	margin: 0;
}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
.top-text-right span {
	font-size: 12px;
	font-weight: 300;
	padding-right: 10px;
	float: left;
	line-height: 30px;
}
.top-text-left p {
	line-height: 30px;
	font-size: 12px;
}
span.basket {
	width: 30px;
	height: 30px;
	background-color: #c05488;
	border-radius: 50%;
	margin-top: 4px;
	padding-right: 0px !important;
	float: right !important;
	top: 0;
	position: absolute;
}
span.basket a i {
	color: #fff;
	display: block;
	text-align: center;
	margin-top: 8px;
	font-size: 12px;
}
.top-menu {
    opacity: 1;
}
.navbar{
	z-index: 100;
	background-color: #000
}
.menu ul li {
	padding: 0;
	border-bottom: 1px solid #222;
}
.menu ul li:last-child {
	border-bottom: 0;
}
.banner-text {
	padding-top: 60px;
	padding-bottom: 60px;
}
.banner-text h2 {
	font-size: 40px;
}
.banner-text p {
	padding: 0 30px;
}
.time_schedule {
	padding: 0px 50px;
	margin-bottom: 50px;
}
.popular_items img {
	margin-top: 40px;
}
.favourite-text {
	text-align: center;
}
.all_menu {
	width: 247px;
	margin: 5px auto;
}
.all_menu a {
	font-size: 18px;
	padding: 17px 48px;
}
.favourite_area {
	padding: 50px 0;
}
.healthy_text h2 {
	margin-top: 30px;
}
figure img {
	width: 100%;
	height: 100%;
}
.border_in {
	border: 1px dashed #fff;
	overflow: hidden;
	height: 335px;
}
figcaption .border_in h3 {
	font-size: 18px;
}

.mobile-width{
	width: 100% !importante;
}
.right-contentp p {
	font-size: 12px;
	margin-left: 40px;
	line-height: 28px;
	margin-top: 0px;
	width: 445px;
}
.subsicrbe {
	border-left: navajowhite;
	padding-left: 0;
	overflow: hidden;
	margin-top: 5px;
	border-top: 1px solid #333;
	padding-top: 15px;
}
.site-infi,.latest_post {
	margin-bottom: 30px;
}
.info-member {
	width: 100% !important;
}
.right-contentp p {
  font-size: 12px;
  margin-left: 20px;
  line-height: 28px;
  margin-top: 30px;
  width: 370px !important;
}
.owl-wrap {
  width: 100% !important;
  margin: 0 auto;
}

.left-img h4 {
  font-size: 12px;
}
.left-img {
  padding-right: 25px;
}
.left-img img {
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.left-img p {
  font-size: 12px;
}
.single_client_item {
  background-color: #c05488;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  color: #fff;
}
.left-folow-icons ul li {
	display: inline-block;
	 padding: 0px; 
}
.left-folow-icons p {
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
	margin-right: 15px;
}
#exampleInputEmail1 {
	width: 268px;
	margin-left: 0;
}
.fotter-section {
	text-align: center;
}
.single_recipe {
	width: 100%;
	padding: 0;
	margin: 0;
}
























}