/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
a:hover { text-decoration: none }
ul{
    padding: 0;
    list-style-type: none;
}
/*teacher search fild css */
#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;   
}
/*top header section css */

.massage_notify ul li {
  display: inline-block;
  padding-right: 55px;
}
.massage_notify ul li a {
  font-size: 13px;
  color: #8a8a8a;
  line-height: 58px;
  transition: .3s;
}
.header_section {
    height: 58px;
    border: 1px solid #ddd;
    border-bottom-color: #d8d8d8;
}
.massage_notify ul li a i {
    font-size: 16px;
    margin-right: 7px;
}
.massage_notify ul li a:hover{
    color: #25c392;
}
/*main menu section css*/
   .navbar.navbar-default.main-menu {
    height: 60px !important;
    border: 0px;
    background-color: #fff;
    margin: 0;
}
.nav.navbar-nav.menu_inner li a {
    padding: 0 31px;
    font-size: 14px;
    line-height: 40px;
    transition: .3s;
    font-weight: 600;
}
.nav.navbar-nav.menu_inner li a:hover{
    color: #25c392;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #25c392;
    background-color: transparent;
} 
    @media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
        }
        
        .navbar .navbar-collapse {
            text-align: center;
        }
    }

/*main body section css*/
.main_body_area {
    background-color: #fafafa;
    padding: 40px 100px 88px;
}
/*left side section*/
.teacher_of_month {
    background-color: #23b689;
    padding: 21px 40px 40px;
}
.teacher_of_month img {
  float: left;
  padding-right: 45px;
}
.teacher_text {
  color: #fff;
}
.teacher_text p {
  font-size: 15px;
  font-weight: 600;
}
.teacher_text h3 {
  font-size: 25px;
  margin: 0;
  font-weight: 600;
}
.list_title {
    color: #202020;
    margin-top: 26px;
    margin-bottom: 8px;
}

.list_title h4 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}
.teacher_list {
    background-color: #fff;
}
.single_teacher {
    padding: 25.5px;
    border-bottom: 2px solid #f6f6f6;
}
.teacher_name_mark h1 {
    font-size: 25px;
    float: left;
    width: 60px;
    height: 60px;
    background-color: #23b689;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    padding-top: 15px;
    font-weight: 600;
    margin-right: 30px;
    margin-bottom: 0;
}
.name_mark h4 {
    font-size: 16px;
    font-weight: 600;
    color: #202020;
    margin-bottom: 10px;
}
.name_mark p {
    font-size: 25px;
    color: #23b689;
    font-weight: 600;
    margin: 0;
}
.name_mark p span {
    font-size: 14px;
    color: #202020;
}
.single_teacher:last-child{
    border-bottom: 0px;
}
.view_profile {
    float: right;
    margin-top: 21px;
}
.view_profile a {
    font-size: 12px;
    color: #23b689;
    border: 1px solid #23b689;
    padding: 10px;
    border-radius: 4px;
    transition: .3s;
}
.view_profile a:hover{
    background-color: #23b689;
    color: #fff;
}
.other_teacher_list {
    background-color: #fff;
}
a.view_all_btn {
    font-size: 14px;
    color: #202020;
    border: 1px solid #202020;
    padding: 7px 20px;
    transition: .3s;
}

a:hover.view_all_btn{
    background-color: #ddd;
    color: #333;
    border: 1px solid #ddd;
}
.other_teacher_list {
    background-color: #fff;
    padding-top: 17px;
}.input-group.search {
    margin: 0 26px;
}
.btn.btn-search {
    color: #202020;
    padding: 12px 20px;
    font-size: 15.5px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-right: 0px;
}
.search-query.form-control {
    box-shadow: inherit;
    border-left: 0px;
    border-color: #e3e3e3;
    font-size: 14px;
    height: 48px;
    font-weight: normal;
    padding-left: 0;
    color: #202020;
}
input[type="text"].search-query::placeholder {
  color: #202020;
}
.list_title_right{
    color: #202020;
    margin-bottom: 13px; 
}

.list_title_right h4 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}
/*right side css start*/
.student_leaderbord {
    background-color: #fff;
    padding-top: 20px;
}
.single_student {
    padding: 20px;
    border-bottom: 2px solid #f6f6f6;
}
.name_class p {
    font-size: 14px;
    color: #202020;
    margin-bottom: 8px;
}
.name_class h4{
    font-size: 16px;
    font-weight: 600;
    color: #202020; 
}
.single_student:last-child{
    border-bottom: 0px;
}










