.bannar_text.text-center h5 {
    color: #E23D96;
}
.nice-select {
    color: #006EB0;
}
.search {
    color: #006EB0;
}
.social_nav_top {
    background: #006EB0;
}
.search {
    background: #006EB0;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	background: #006EB0;
}
.nav-link:hover{
	background-color: #006EB0;
}
.doctors_area_list.specialist {
	background: #006EB0;
}
.list_item li i {
	color: #006EB0;
}
.list_item li a:hover{
	color: #006EB0;
	text-decoration: none;
}
.more_btn button {
	background: #F3F3F3;
	border: 1px solid #006EB0;
	color: #006EB0;
}
.more_btn button:hover{
	background: #006EB0;
}
.more_btn.specialist_item button {
    background: #006EB0;
}
.more_btn.specialist_item button:hover{
	color: #006EB0;
}
.count-text {
    color: #006EB0;
}
.footer_menu li a:hover{
   color: #006EB0
}
.footer_menu li a {
    border-right: 1px solid #006EB0;
}
.copy_right{
	background: #006EB0;
}
.area_title h2 {
	color: #006EB0;
}
.list_item li a span{
    color: #006EB0;
}












