
@media only screen and (min-width: 992px) and (max-width: 1300px) { 
  .login_title p {
	font-size: 20px;
}
.col-md-3.col-md-offset-1.col-sm-4.middle_box {
	margin-left: 15px;
	width: 30%;
}
.col-md-3.col-md-offset-1.col-sm-4.last_box {
	margin-left: 15px;
	width: 30%;
}
.col-md-3.col-sm-4.frist_box {
	width: 30%;
} 
.login_forget {
	font-size: 12px;
}
.login {
	font-size: 14px;
}
.wrapper {
	padding-left: 60px;
}

}



/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
  .blok2 {
	margin: 15px;

}
.navbar-toggle {
	margin-top: 23px;
}
.btn.btn-default.btn-search {
	margin-bottom: 20px;
}
.search-query.form-control.search_icon {
	margin-bottom: 20px;
}
   .login_title p {
	font-size: 20px;
	text-align: center;
}
.wrapper {
	padding-top: 100px;
	padding-left: 20px;
} 
.login_forget {
	font-size: 12px;
}
.login {
	font-size: 14px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 

    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	.blok2 {
	margin: 15px;

}
.navbar-toggle {
	margin-top: 23px;
}
.btn.btn-default.btn-search {
	margin-bottom: 20px;
}
.search-query.form-control.search_icon {
	margin-bottom: 20px;
}
.wrapper {
	padding: 80px;
}
}

@media only screen and (min-width: 320px) and (max-width: 479px) { 
	.blok2 {
	margin: 15px;

}
.navbar-toggle {
	margin-top: 23px;
}
.btn.btn-default.btn-search {
	margin-bottom: 20px;
}
.search-query.form-control.search_icon {
	margin-bottom: 20px;
}
.navbar-right.menu_bottom li a {
	padding: 10px 13px;
	border-right: 1px solid #000;
	color: #000;
	font-size: 12px;
}
.wrapper {
	padding: 50px;
}
.login_title p {
	font-size: 20px;
	text-align: center;
}
.login_forget {
	font-size: 12px;
}
.login {
	font-size: 14px;
}
}