
@media only screen and (min-width: 1200px) and (max-width: 1370px) {
	.row.morre-filter-list {
	height: 500px;
}
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) { 
  .login_title p {
	font-size: 20px;
}
.col-md-3.col-md-offset-1.col-sm-4.middle_box {
	margin-left: 15px;
	width: 30%;
}
.col-md-3.col-md-offset-1.col-sm-4.last_box {
	margin-left: 15px;
	width: 30%;
}
.col-md-3.col-sm-4.frist_box {
	width: 30%;
} 
.login_forget {
	font-size: 12px;
}
.login {
	font-size: 14px;
}
.wrapper {
	padding-left: 60px;
}
.form-group.share_option {
	width: 150px;
	float: right;
}
#sel1 {
	border: 1px solid #222;
	border-radius: 0px;
	height: 41px;
	margin-top: -10px;
	color: #222;
	font-size: 16px;
}


}

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
  .login_title p {
	font-size: 20px;
}
.col-md-3.col-md-offset-1.col-sm-4.middle_box {
	margin-left: 15px;
	width: 30%;
}
.col-md-3.col-md-offset-1.col-sm-4.last_box {
	margin-left: 15px;
	width: 30%;
}
.col-md-3.col-sm-4.frist_box {
	width: 30%;
} 
.login_forget {
	font-size: 12px;
}
.login {
	font-size: 14px;
}
.wrapper {
	padding-left: 60px;
}
.form-group.share_option {
	width: 150px;
	float: right;
}
#sel1 {
	border: 1px solid #222;
	border-radius: 0px;
	height: 41px;
	margin-top: -9px;
	color: #222;
	font-size: 16px;
}
.example_video_1-dimensions {
	width: 388px !important;
	height: 280px !important;
}
.agent_video {
	width: 450px !important;
}
.btn.regi-btn {
    padding: 0 30px;
    font-size: 14px;
}

}


/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .blok2 {
	margin: 15px;

}
.navbar-toggle {
	margin-top: 23px;
}
.btn.btn-default.btn-search {
	margin-bottom: 20px;
}
.search-query.form-control.search_icon {
	margin-bottom: 20px;
}
   .login_title p {
	font-size: 20px;
	text-align: center;
}
.wrapper {	padding-left: 20px;
} 
.login_forget {
	font-size: 12px;
}
.login {
	font-size: 14px;
}
.form-group.share_option {
	width: 128px;
	float: right;
}
.property_title h1 {
	font-size: 24px;
}
#sel1 {
	border: 1px solid #222;
	border-radius: 0px;
	height: 41px;
	margin-top: -9px;
	color: #222;
	font-size: 16px;
}
.info-text-general {
	margin-bottom: 50px;
	margin-top: 35px;
}
.example_video_1-dimensions {
	width: 450px;
	height: 300px;
	margin-left: 20px;
}
.video-js {
	margin: 0 auto;
}
.agents_area {
	text-align: center;
	margin-bottom: 50px;
}
.agents_title {
	text-align: center;
}
.right_contant_agent p {
	margin-bottom: 40px;
}
.btn.regi-btn {
	float: right;
}
.main-area-top {
	width: 100%;
}
.right_sidebar {
	width: 100%;
}
.price-selection.p-15 {
	width: 100%;
}
.chosen-container-single .chosen-single span {
	font-size: 14px;
}
.action-bar-bottom {
	padding: 13px 0 5px;
}
.navbar-right.menu_bottom {
	margin: 0px;
	padding: 0;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 

    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	.price-selection ul li span {
		font-size: 12px;
		padding: 0
	}
	.blok2 {
	margin: 15px;

}
.blok1 {
	margin-top: 60px;
}
.dropbtn {
	padding: 0 30px;
	font-size: 14px;
	font-weight: 500;
	line-height: 40px;
}
.dropdown-content {
	background-color: #F8F8F8;
	left: 30px;
}
.dropdown-content a:hover {background-color: #eaeaea;color: #222}
.navbar-toggle {
	margin-top: 12px;
}
.btn.btn-default.btn-search {
	margin-bottom: 20px;
}
.search-query.form-control.search_icon {
	margin-bottom: 20px;
}
.wrapper {
	padding: 0px 40px;
}
.form-group.share_option {
	width: 150px;
	float: right;
}
.property_title h1 {
	font-size: 20px;
}
.section_menu ul li a {
	padding: 10px 25px;
}
.section_menu ul li a {
	padding: 10px 13px;
	font-size: 14px;
}
#sel1 {
	height: 39px;
	margin-top: -10px;
	font-size: 14px;
}
.container.slider_area {
	padding: 0 30px;
}
.container.slider_area {
	margin-top: 60px;
	overflow: hidden;
}
.build_info_area, .location_area {
	overflow: hidden;
	border: 1px solid #222;
	padding: 0 20px;
	margin: 15px;
}
.condo_title h1 {
	font-size: 22px;
	text-align: center;
}
.condo_title {
	margin-top: 40px;
}
.general_info h2 {
	font-size: 16px;
}
.info-text-general {
	margin-bottom: 50px;
	margin-top: 25px;
}
.video-js {
	margin: 0 auto;
}
.example_video_1-dimensions {
	width: 390px;
	height: 280px;
}
.tab-content {
	border: 1px solid #222;
	padding: 20px 0px;
	height: 1000px;
	margin: 0px 15px;
}
.shorter-selection {
	padding: 10px 15px;
	border-bottom: 3px solid #fafafa;
	background-color: #fff;
}
#myCarousel2 {
	margin-bottom: 20px;
}
.main_contant {
	margin-top: 110px;
	margin-bottom: 50px;
}
.login_box {
	padding-bottom: 40px;
}
.agents_area {
	text-align: center;
	margin-bottom: 50px;
}
.agents_title {
	text-align: center;
}
.right_contant_agent p {
	margin-bottom: 40px;
}
.btn.regi-btn {
    padding: 0 30px;
    font-size: 14px;
}
.btn.regi-btn {
	float: right;
}
.left_sidebar {
	width: 100% !important;
	position: relative;
}
.right_sidebar {
	width: 100% !important;
}
.price-selection.p-15 {
	width: 100% !important;
	margin-top: -152px;
}
.right_sidebar {
	position: relative;
	top: 0;
}
.main-area-top {
	position: absolute;
	top: 0;
	width: 100%;
}
.mt-143 {
	margin-top: 192px;
}
#sticky.stick {
	position: fixed;
	top: 190px;
}
.btn.list-btn {
	line-height: 40px;
	font-size: 14px;
	height: 40px;
	position: absolute;
	right: 14px;
	top: -51px;
	overflow: hidden;
	display: block;
}
.list_button {
    position: relative;
}
#sticky .stick .price-selection.p-15 {
	width: 100% !important;
	margin-top: -60px !important;
}
.navbar-right.menu_bottom {
	margin: 0px;
	padding: 0;
}
.navbar.navbar-default.custom-nav {
	min-height: 60px;
}
.nav.navbar-nav.menu_top li a {
	line-height: 40px;
	font-size: 12px;
}
.navbar-brand > img {
	display: block;
	width: 82px;
	margin-top: 0px;
}
.single-ads .desc-left li.heading {
	font-size: 17px;
}
.single-ads .desc-left li i {
	font-size: 14px;
	padding: 3px;
	vertical-align: middle;
}
.single-ads .desc-left li.semi-heading, .single-ads .desc-right li {
	font-size: 12px;
}
.desc-left ul {
	float: left;
}
.slider_right_b {
	margin-top: 0px;
	margin-right: 10px;
}
.chosen-container-single .chosen-single {
	background: #fff !important;
}
#single-label-example {
	background-color: #fff;
	border: 0px solid transparent;
}
.section_menu ul {
	margin: 50px 0 20px;
}
.navbar-default .navbar-brand {
	line-height: 60px;
}
.price-selection span.more-filter {
	margin-top: -33px;
	top: unset;
}
.chosen-container-single .chosen-single {
    width: 110px;
}
.chosen-container .chosen-drop {
    width: 110px;
}
.price-selection ul li:nth-child(2) {
	margin-right: 29px;
}
.chosen-container .chosen-results li.active-result {
	font-size: 12px;
}
.row.morre-filter-list {
	height: 500px;
}
.apply_btn_bottom{
	clear: both;
}
.form-group.form_inline {
	width: 50%;
	float: left;
}
.btn.btn-send {
	margin: 15px 0px;
	float: left;
	clear: both;
}
.form_custom {
	border-radius: 0px !important;
	margin-left: 0;
}
/*listing page*/
.right_side_bar {
	margin-top: 0;
	width: 100%;
	float: left;
}
.nav-side-menu {
	padding: 40px 40px 20px 30px;
	margin-top: 60px;
}
.sidebar_top_title {
	font-size: 16px;
	line-height: 40px;
	float: left;
	position: absolute;
	top: 10px;
}
#menu-content {
	margin-top: 8px;
}
/*list property*/
.form_section img {
	width: 25%;
	margin-left: 10px;
	margin-bottom: 20px;
}
.property_list_body {
	padding: 15px;
}
.price-selection.p-15 {
	background: #f5f5f5;
	width: 700px;
	height: auto;
}
.price_form {
	width: 70%;
}
.form-group.price_form_group label {
	float: left;
	padding-right: 10px;
	margin-top: 8px;
	font-size: 11px;
}
.form-group.price_form_group {
	float: left;
	margin-bottom: 0px;
	width: 175px;
}
/*unit page responsive css*/
.unit_inner {
	margin: 50px 15px 0px;
}
/*property page*/
.share_with {
	float: left;
	margin-top: 40px;
	margin-left: 0;
	position: relative;
}
.section_menu {
	overflow: hidden;
	float: left;
 margin-bottom: 0px; 
}

}

@media only screen and (min-width: 320px) and (max-width: 479px) { 
	.price-selection ul li span {
		font-size: 12px;
		padding: 0
	}
	.blok2 {
	margin: 15px;

}
.blok1 {
	margin-top: 60px;
}
.dropbtn {
	background-color: transparent;
	color: #999;
	padding: 0 30px;
	font-size: 13px;
	border: none;
	cursor: pointer;
	font-weight: 500;
	line-height: 20px;
	text-transform: uppercase;
}
.nav.navbar-nav.menu_top li a {
	line-height: 35px;
}
.navbar-toggle {
	margin-top: 13px;
}
.navbar.navbar-default.custom-nav {
	min-height: 62px;
}
.navbar-brand > img {
	margin-top: 0px;
}
.btn.btn-default.btn-search {
	margin-bottom: 20px;
}
.search-query.form-control.search_icon {
	margin-bottom: 20px;
}
.navbar-right.menu_bottom li a {
	border-right: 1px solid #000;
	color: #000;
	font-size: 12px;
}
.navbar-right.menu_bottom li a {
	border-right: 1px solid #000;
	padding: 0px 15px;
	text-decoration: underline;
}
.wrapper {
	padding: 0px 20px;
}
.login_title p {
	font-size: 20px;
	text-align: center;
}
.login_forget {
	font-size: 12px;
}
.login {
	font-size: 14px;
}
.property_title h1 {
	font-size: 18px;
	line-height: 30px;
}
.section_menu ul li a {
	padding: 10px 13px;
	font-size: 14px;
	border-right: 1px solid #222;
}

#sel1 {
	height: 38px;
	font-size: 14px;
}
.form-group.share_option {
	width: 150px;
	float: left;
	margin-top: 35px;
}
.container.slider_area {
	padding: 0 30px;
}
.container.slider_area {
	margin-top: 60px;
	overflow: hidden;
}
.build_info_area, .location_area {
	overflow: hidden;
	border: 1px solid #222;
	padding: 0 15px;
	margin: 15px;
}
.condo_title h1 {
	font-size: 20px;
	text-align: center;
}
.condo_title {
	margin-top: 40px;
}
.general_info h2 {
	font-size: 16px;
}
.info-text-general {
	margin-bottom: 50px;
	margin-top: 25px;
}
.video-js {
	margin: 0 auto;
}
.example_video_1-dimensions {
	width: 300px;
	height: 210px;
}
#myCarousel2 {
	margin-bottom: 20px;
}
.info-text-general {
	margin-bottom: 20px;
	margin-top: 25px;
}
.general_info {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 20px;
}
.tab-content {
	margin: 0px 15px;
}
.nav-custom li a {
	text-decoration: none;
	background-color: #CCCCCC;
	border-radius: 0;
	color: #000;
	border-top-right-radius: 15px;
	padding: 5px 10px;
	font-size: 10px;
}
.main_contant {
	margin-top: 80px;
	margin-bottom: 30px;
}
.login_box {
	padding-bottom: 40px;
}
.agent_video {
	width: 290px !important;
	height: 212px;
}
.agents_title{
	text-align: center;
}
.agents_area {
	text-align: center;
	margin-bottom: 20px;
}
.right_contant_agent p {
	font-size: 16px;
	color: #666;
	text-align: center;
	margin-bottom: 40px;
	font-weight: 300;
}
.btn.regi-btn {
	padding: 0 20px;
	font-size: 12px;
	line-height: 38px;
}
.form_footer {
	padding: 5px 25px 0px;
	border-top: 1px solid #e5e5e5;
	overflow: hidden;
}
.form-horizontal .reg_lable_bottom {
	padding-top: 7px;
	font-size: 14px;
	margin-top: 12px;
}
.form_body {
	padding: 20px;
}
.form-horizontal .control-label.reg_lable {
	font-size: 14px;
}
.form-control.reg_control {
	height: 35px;
}
.from_header h2 {
	font-size: 22px;
	font-weight: normal;
	padding-left: 21px;
	padding-top: 15px;
	margin-bottom: 15px;
}
.btn.regi-btn {
	float: right;
}
.left_sidebar {
	width: 100% !important;
	position: relative;
}
.right_sidebar {
	width: 100% !important;
}
.price-selection.p-15 {
	width: 100% !important;
	margin-top: -118px;
}
.right_sidebar {
	position: relative;
	top: 0;
}
.main-area-top {
	position: absolute;
	top: 0;
	width: 100%;
}
.mt-143 {
    margin-top: 178px;
}
.chosen-single.chosen-default {
	width: 72px;
}
.chosen-container-single .chosen-single span {
	font-size: 12px;
}
.price-selection ul li:nth-child(2) {
	margin-right: 0;
}
.chosen-container-single .chosen-single span {
	margin-right: 0;
}
.price-selection span.more-filter {
	font-size: 12px;
}
.shorter-selection ul li {
	font-size: 10px;
}
#sticky.stick {
	position: fixed;
	top: 175px;
}
.btn.list-btn {
	line-height: 30px;
	font-size: 12px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: -37px;
	padding: 0 10px;
}
.list_button {
    position: relative;
}
.price-selection.p-15 {
	width: 100% !important;
	margin-top: -133px;
}
.navbar-right.menu_bottom {
	margin: 0px;
	padding: 0;
}
.dropdown-toggle {
	font-size: 12px;
}
.navbar-right.menu_bottom {
	margin: 0px;
	padding: 0;
}
.shorter-selection {
	background-color: #fff;
}
.nav.navbar-nav.menu_top li a {
	font-size: 12px;
}
.single-ads .desc-left li.heading {
	font-size: 17px;
}
.single-ads .desc-left li i {
	font-size: 14px;
	padding: 3px;
	vertical-align: middle;
}
.single-ads .desc-left li.semi-heading, .single-ads .desc-right li {
	font-size: 12px;
}
.desc-left ul {
	float: left;
}
.slider_right_b {
	margin-top: 0px;
	margin-right: 10px;
}
.chosen-container-single .chosen-single {
	background: #fff !important;
}
#single-label-example {
	background-color: #fff;
	border: 0px solid transparent !important;
	font-size: 12px;
	height: 30px;
}
.section_menu ul {
	margin: 50px 0 20px;
}
.navbar-default .navbar-brand {
	line-height: 60px;
}
.price-selection span.more-filter {
	margin-top: -30px;
	top: unset;
}
.chosen-container-single .chosen-single {
    width: 75px;
}
.chosen-container .chosen-drop {
    width: 75px;
}
.price-selection ul li:nth-child(2) {
	margin-right: 0px;
}
.chosen-container .chosen-results li.active-result {
	font-size: 12px;
}
.row.morre-filter-list {
	height: 500px;
}
.form-group.form_inline {
	width: 97%;
	float: left;
}
.btn.btn-send {
	margin: 15px;
	float: right;
}
.form_custom {
	border-radius: 0px !important;
	margin-left: 0;
}
/*listing page*/
.right_side_bar {
	margin-top: 0;
	width: 100%;
	float: left;
}
.top_title h2 {
	font-size: 18px;
}
.nav-side-menu {
	padding: 40px 40px 20px 30px;
	margin-top: 60px;
}
.sidebar_top_title {
	font-size: 16px;
	line-height: 40px;
	float: left;
	position: absolute;
	top: 10px;
}
#menu-content {
	margin-top: 8px;
}
/*list property*/
.property_list_body {
	padding: 15px;
}
.form_section img {
	width: 50%;
	margin-bottom: 20px;
}
.price-selection.p-15 {
	background: #f5f5f5;
	width: 700px;
	height: auto;
}
.price_form {
	width: 70%;
}
.price_form_group {
	margin-bottom: 10px;
}
.form-group.price_form_group {
	float: left;
	width: 113px;
	margin-bottom: 0px;
}
.form-group.price_form_group label {
	float: left;
	padding-right: 5px;
	margin-top: 8px;
	font-size: 11px;
}
/*unit page responsive css*/
.unit_inner {
	margin: 50px 15px 0px;
}
.property_unit_title p {
	font-size: 14px;
}
.property_unit_title h3 {
	font-size: 18px;
}
.property_unit_title p i {
	font-size: 18px;
}
.single_unit_info {
	padding: 30px;
}
.google_map {
	padding: 0px 30px;
}
.unit_inner {
	margin: 30px 15px 0px;
}
.single_unit_title {
	padding: 10px 30px;
	border-bottom: 1px solid #e5e5e5;
}
.single_unit_title h4 {
	font-weight: 400;
	font-size: 18px;
	margin-top: 12px;
}
/*property page*/
.share_with {
	float: left;
	margin-top: 15px;
	margin-left: 0;
	position: relative;
}
.section_menu {
	overflow: hidden;
	float: left;
 margin-bottom: 0px; 
}
}