/* Saydaltak
================================
    Web Design by Soniya Hoque
    mail:soniyahq@gmail.com
=================================

*/
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .btn-default {
	font-size: 12px;
}
	.looking_item {
	padding-left: 20px;
}
input[type="text"]::-webkit-input-placeholder {
  font-size: 12px;
}
input[type="text"]:-ms-input-placeholder {
  font-size: 12px;
}
input[type="text"]::-ms-input-placeholder {
  font-size: 12px;
}
input[type="text"]::placeholder {
  font-size: 12px;
}
input[type="text"]:-ms-input-placeholder {
  font-size: 12px;
}
.slider_text h3 {
	font-size: 40px;
}
.ExpInput {
	font-size: 12px;
}

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .btn-default {
  font-size: 14px;
}
  .manu_list > li > a {
	line-height: 60px;
	font-size: 12px;
}  
.navbar-brand > img {
	display: block;
	width: 150px;
}
.navbar-brand {
	padding: 5px 0px;
}
.right_register li a {
	font-size: 14px;
}
.nav.navbar-nav.navbar-right.right_register li {
	padding: 19px 0px;
}
.navbar.manu {
	min-height: 64px;
}
.slider_text h3 {
	font-size: 35px;
}
.manu_list  > li > a:hover{
  line-height: 60px;
}

.site_btn {
	width: 200px;
}
.site_btn a {
	font-size: 16px;
	line-height: 55px;
}
input[type="text"]::-webkit-input-placeholder {
  font-size: 12px;
}
input[type="text"]:-ms-input-placeholder {
  font-size: 12px;
}
input[type="text"]::-ms-input-placeholder {
  font-size: 12px;
}
input[type="text"]::placeholder {
  font-size: 12px;
}
input[type="text"]:-ms-input-placeholder {
  font-size: 12px;
}
.slider_text h3 {
	font-size: 35px;
}
.inner-addon {
	margin-right: 10px;
}
.looking_item {
	padding-left: 15px;
	padding-top: 10px;
}

.slider_text p {
	padding-bottom: 50px;
}
.item img {
	height: 700px !important;
}
.carousel {
	height: 700px;
}
.btn-default {
	font-size: 10px;
}
.bootstrap-select > .dropdown-toggle {
	padding-right: 35px;
}
.looking_item.search {
	padding-top: 20px;
}
.copy_right p {
	font-size: 14px;
}
.join_text h3 {
	font-size: 32px;
}
.join_text p {
	font-size: 14px;
}
.ExpInput {
	font-size: 12px;
}
.searchbar {
	width: 65%;
}
.store {
	width: 35%;
}
.looking_area {
	margin-top: 45px;
	margin-bottom: 45px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .navbar-brand > img {
	width: 130px;
	padding-left: 15px;
}
.navbar.manu {
	min-height: 52px;
}
.navbar-brand {
	padding: 5px 0px;
}
  .right_register {
	padding-left: 0;
} 
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	border-bottom: 0px solid #297eb1;
}
.manu_list  > li > a:hover{
  border-bottom: 0px solid #297eb1;
  line-height: 40px;
}
.manu_list > li > a {
	line-height: 40px;
	font-size: 14px;
}
.nav.navbar-nav.navbar-right.right_register li {
	padding: 10px 0px;
}
input[type="text"]::-webkit-input-placeholder {
  font-size: 12px;
}
input[type="text"]:-ms-input-placeholder {
  font-size: 12px;
}
input[type="text"]::-ms-input-placeholder {
  font-size: 12px;
}
input[type="text"]::placeholder {
  font-size: 12px;
}
input[type="text"]:-ms-input-placeholder {
  font-size: 12px;
}
.btn-default {
	font-size: 10px;
}
.bootstrap-select > .dropdown-toggle {
	padding-right: 35px;
}
.looking_item {
	padding-left: 12px;
	padding-top: 12px;
}
.inner-addon {
	margin-right: 10px;
}
.join_community {
	background: #01579b;
	color: #fff;
	padding: 30px 0px;
	text-align: center;
}
.site_btn {
	width: 180px;
	float: none !important;
	margin: 0 auto;
	margin-top: 20px;
}
.site_btn a {
	font-size: 16px;
	line-height: 50px;
}
.join_text h3 {
	font-size: 32px;
}
.join_text p {
	font-size: 14px;
	color: #fff;
	font-weight: normal;
}
.bottom_social_item {
	float: none !important;
	margin: 0 auto;
	text-align: center;
}
.copy_right p {
	font-size: 14px;
	line-height: 80px;
	text-align: right;
}
.bottom_social_item ul li {
	line-height: 45px;
}
.bottom_social_item {
	float: none !important;
	margin: 0 auto;
	text-align: center;
	border-top: 1px solid #c5c5c5;
}
.looking_item.search {
	padding-top: 20px;
}
.slider_text p {
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.slider_text h3 {
	font-size: 30px;
}
.item img {
	height: 580px !important;
}
.carousel {
	height: 587px;
}
.ExpInput {
	font-size: 12px;
}
.searchbar {
	width: 65%;
}
.store {
	width: 35%;
}
.looking_area {
	margin-top: 45px;
	margin-bottom: 45px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 667px) { 
.top_left_item ul li {
	padding-right: 10px;
}
.top_left_item ul li a {
	padding-left: 15px;
}
.right_social_item ul li {
	padding: 0px 7px;
}
.top_left_item ul li a i {
	padding-right: 5px;
}
.looking_item {
	width: 100%;
}
.looking_area {
	min-height: 70px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	margin-bottom: 0;
	border-radius: 0px;
}
.looking_item:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 10px;
	border-top: 1px solid #c5c5c5;
}
.looking_area {
	margin-top: 30px;
}

.looking_item {
	width: 100%;
	border-bottom: 1px solid #c5c5c5;
}
.looking_item {
	width: 100%;
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
}
.looking_item.search {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.looking_area_section {
	background-color: #fff;
	padding-bottom: 30px;
}
input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
}
input[type="text"]:-ms-input-placeholder {
  font-size: 14px;
}
input[type="text"]::-ms-input-placeholder {
  font-size: 14px;
}
input[type="text"]::placeholder {
  font-size: 14px;
}
input[type="text"]:-ms-input-placeholder {
  font-size: 14px;
}
.btn-default {
	font-size: 14px;
}
.looking_item p {
	font-size: 14px;
	color: #616161;
	margin: 0;
}
.carousel {
	height: 560px;
}
.item img {
	height: 560px !important;
}
.slider_text p {
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 15px;
}
.site_btn a {
	font-size: 14px;
	line-height: 50px;
}
.looking_right {
	width: 100%;
	border-bottom: 1px solid #c5c5c5 !important;
	border-right: 1px solid #c5c5c5 !important;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
	border-left: 1px solid #c5c5c5 !important;
}
.ExpInput {
	font-size: 14px;
}
}
@media only screen and (min-width: 320px) and (max-width: 479px) { 
.top_left_item ul li {
	padding-right: 10px;
}
.top_left_item ul li a {
	padding-left: 15px;
}
.right_social_item ul li {
	padding: 0px 7px;
}
.top_left_item ul li a i {
	padding-right: 5px;
}
.looking_item {
	width: 100%;
}
.looking_area {
	min-height: 70px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	margin-bottom: 0;
	border-radius: 0px;
}
.looking_item:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 10px;
	border-top: 1px solid #c5c5c5;
}
.looking_area {
	margin-top: 30px;
}
.looking_item {
	width: 100%;
	border-bottom: 1px solid #c5c5c5;
}
.looking_item {
	width: 100%;
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
}
.looking_item.search {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.looking_area_section {
	background-color: #fff;
	padding-bottom: 30px;
}
input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
}
input[type="text"]:-ms-input-placeholder {
  font-size: 14px;
}
input[type="text"]::-ms-input-placeholder {
  font-size: 14px;
}
input[type="text"]::placeholder {
  font-size: 14px;
}
input[type="text"]:-ms-input-placeholder {
  font-size: 14px;
}
.btn-default {
	font-size: 14px;
}
.looking_item p {
	font-size: 14px;
	color: #616161;
	margin: 0;
}
.carousel {
	height: 560px;
}
.item img {
	height: 560px !important;
}
.slider_text p {
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 15px;
}
.site_btn a {
	font-size: 14px;
	line-height: 50px;
}
.top_left_item ul li a {
	padding-left: 15px;
	font-size: 10px;
}
.right_social_item ul li a i {
	color: #fff;
	font-size: 10px;
}
.right_social_item ul li {
	padding: 0px 4px;
}
.slider_text h3 {
	font-size: 22px;
}
.bottom_logo img {
	width: 100px;
}
.copy_right p {
	font-size: 12px;
	line-height: 80px;
	text-align: right;
}
.join_text h3 {
	font-size: 22px;
}
.join_text p {
	font-size: 11px;
	color: #fff;
	font-weight: normal;
}
.looking_right {
  width: 100%;
}
.ExpInput {
	font-size: 14px;
}
.looking_right {
	width: 100%;
	border-bottom: 1px solid #c5c5c5 !important;
	border-right: 1px solid #c5c5c5 !important;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
	border-left: 1px solid #c5c5c5 !important;
}

}