body{ 
	background: #F7F7F7; 
	color:#333; 
}

h1, h2, h3, h4, h5, h6 { 
	font-family: "Open sans", Helvetica, Arial;
	font-weight: 300;
}

p, #footer p {
	font-size: 15px;
	line-height: 1.6em;
}

a{ color: #50c0e7; }
a:hover, a:focus { color: #50c0e7; }
a:visited { color: #000000; }

.header-top {
	background: #f7f7f7;
	color: #000000;
	margin-bottom: 0;
	padding-bottom: 0px;
}
.header-top h1 {
	font-family: "Open sans", Arial;
	font-size: 40px;
	font-weight: bold;
	margin: 35px 0 10px 0;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	color: #000000;
}
.header-top h2 {
	color: rgba(255,255,255,.9);
	font-family: Georgia;
	font-size: 17px;
	font-weight: bold;
	margin: 0 0 25px 0;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	color: #000000;
}
.header-top p { font-size: 15px; line-height: 1.2em;}
.header-top h3 {
	font-family: "Open sans", Arial;
	color: rgba(255,255,255,.9);
	line-height: 1.2em;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	color: #000000;
}

.content { 
	position: relative; 
	z-index: 999; 
	margin-bottom:40px;  
}
.content h3 { font-family: Georgia; font-style: italic; color:#999; }

.padding_top { padding-top:20px; overflow: hidden;}
.padding_bottom { padding-bottom:20px; overflow: hidden;}
.img-icon {
	margin: 0 auto;
	display: block;
}
.img-icon {
	border: 5px solid #f5f5f5;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 200px;
	height: 200px;
}
.btn-info{
	color: #fff;
}
#footer { 
	background:#f5f5f5; 
}
.check_agree{
	margin-top: 20px;
	margin-bottom: 20px;
}

.banner{
	margin-top: 50px;
}
.banner img{
	width: 100%;
}
#payment_item {
	float: left;
	width: 100%;
}
#payment_method{
	float: right;
}
.content{
	background-color: #fff;
}
.input-info {
	margin-top: 10px;
}
.text-muted {
    color: #999;
}
.register_form {
	max-width: 680px;
	margin-right: auto; 
	margin-left: auto;
}

#payment_method {
	background-color: #50c0e7;
	border-color: #50c0e7;
}
#payment_method:hover {
	background-color: #000000;
	border-color: #000000;
}
footer {
	padding: 20px 0;
	background: #fff;
	margin-top: 40px;
}
footer p{
	line-height: 40px;
}
.plan_box {
	padding: 15px 0;
}


