@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Exo:400,700italic,300);
/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 4em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
	}

	.intro p{
		color: #fff;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	.float_left{
		float: left;
	}
	.float_right{
		float: right;
	}
	.soniya_area{
	}
	.soniya_area > img{	
		width: 200px;
		border-radius: 500px;
	}
	.text_area{
		width: 100%;
	}
	.text_area > h1{
		font-family: 'Exo', sans-serif;
		font-size: 5em;
	}
	.text_area > p{
		text-transform: capitalize;
		text-align: center;
		font-family: 'Exo', sans-serif;
	}
	.text_area > h6{
		color: #fff;
		/*font-family: 'Indie Flower', 'cursive';*/
		font-family: 'Exo', sans-serif;
	}
	.my_slide > img{
		text-align: center;
		width: 70%;
	}
	.my_slide > h1{
		font-family: 'Exo', sans-serif;
	}
	.work{
		float: left;
		width: 25%;
		margin-bottom: 30px;
		font-family: 'Exo', sans-serif;
	}
	.work > a > p{
		font-size: 15px;
		padding: 5px 5px;
		background:#669999;
		border-radius: 5px;
		text-transform: capitalize;
	}
	.work > a > p:hover{
		background: #800C3A;
	}
	.work > img{
		width: 200px;
		background: #3399FF;
		padding: 5px;
	}
	.contact_area{
		font-family: 'Exo', sans-serif;
	}
	.contact_area> h1{
		font-family: 'Exo', sans-serif !important;
	}

	.form{
		width: 700px;
		margin: 30px auto;
	}
	.so_form{
		width: 333px;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 10px 5px;
		border-radius: 3px;
		border: 1px solid #FFFF99;
		background: transparent; 
		color: #fff;
		font-family: 'Exo', sans-serif;
	}
	.ad{
		margin-right:0px !important;
	}
	.so_text{
		width: 680px;
		border-radius: 3px;
		border: 1px solid #FFFF99;
		background: transparent; 
		color: #fff;
		height: 200px;
		padding-left: 20px;
		font-family: 'Exo', sans-serif;
	}
	textarea{
		resize:none;
	}
	.so_send{
		padding: 10px 20px;
		background:transparent;
		color:#FFFF99;
		border: 1px solid #FFFF99;
		border-radius: 3px;
		text-align: center;
		cursor: pointer;
		margin-top: 10px;
		width: 30%;
		font-family: 'Exo', sans-serif;
	}
	.so_send:hover{
		background: #B547B5;
		color: #333;
		border: 1px solid #4C0F2E;
	}