
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
.nav.navbar-nav.menu_inner li a {
	padding: 0px 16px;
	font-size: 14px;
}
.name_class h4 {
	font-size: 14px;
}
.name_mark h4 {
	font-size: 14px;
}
.single_teacher {
	padding: 22px 25px;
}
.view_profile a {
	font-size: 10px;
	padding: 8px;
}
.name_class h4 {
	font-size: 12px;
}
.teacher_text h3 {
	font-size: 17px;
}
.main_body_area {
	background-color: #fafafa;
	padding: 50px 30px;
}
.teacher_of_month img {
	float: left;
	padding-right: 20px;
}
.teacher_text {
	color: #fff;
	margin-top: 10px;
}
}


/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
  .nav.navbar-nav.menu_inner li a {
	padding: 0px 15px;
	font-size: 12px;
}

.name_class h4 {
	font-size: 12px;
}
.teacher_of_month img {
	float: left;
	padding-right: 20px;
}
}




@media only screen and (max-width: 850px) { 
 .nav.navbar-nav.menu_inner li a {
	padding: 0px 10px;
	font-size: 12px;
}

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .nav.navbar-nav.menu_inner li a {
	padding: 0px 10px;
	font-size: 12px;
	border-bottom: 1px solid #ddd;
}
   .nav.navbar-nav.menu_inner li a:hover{
	border-bottom: 1px solid #25c392;
}
 
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	.main_body_area {
		padding: 30px;
	}
	.navbar-nav {
	margin: 7.5px -15px;
	background-color: #fff;
	z-index: 111111;
	position: absolute;
	width: 100%;
}
.navbar-toggle {
	float: left;
	margin-left: 30px;
	margin-top: 12px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}
.teacher_of_month img {
	float: left;
	padding-right: 10px;
}
.teacher_text p {
	font-size: 12px;
	margin-bottom: 5px;
}
.teacher_text {
	margin-top: 10px;
}
.teacher_text h3 {
	font-size: 20px;
}
.name_class p {
	font-size: 12px;
	margin-bottom: 8px;
}
.name_class h4 {
	font-size: 13px;
}
.view_profile a {
	font-size: 10px;
	padding: 8px 5px;
}
a.view_all_btn {
	font-size: 12px;
	padding: 7px 15px;
}
.list_title_right {
	margin-bottom: 13px;
	margin-top: 15px;
}
}
/* small Mobile Layout: 480px. */
@media only screen and (min-width: 320px) and (max-width: 479px) { 
	.single_teacher {
	padding: 15px;
}
.teacher_name_mark h1 {
	font-size: 20px;
	float: left;
	width: 45px;
	height: 45px;
	text-align: center;
	border-radius: 50%;
	padding-top: 11px;
	font-weight: 600;
	margin-right: 10px;
	margin-bottom: 0;
}
.name_mark h4 {
	font-size: 14px;
	font-weight: 600;
	color: #202020;
	margin-bottom: 0px;
}
	.main_body_area {
		padding: 15px;
	}
	.navbar-nav {
	margin: 7.5px -15px;
	position: absolute;
	width: 100%;
}
.navbar-toggle {
	float: left;
	margin-left: 30px;
	margin-top: 12px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}
.teacher_of_month img {
	float: left;
	padding-right: 10px;
	width: 85px;
}
.teacher_of_month {
	padding: 20px 10px;
}
.teacher_text p {
	font-size: 12px;
	margin-bottom: 5px;
}
.teacher_text {
	margin-top: 0;
}
.teacher_text h3 {
	font-size: 16px;
}
.name_class p {
	font-size: 12px;
	margin-bottom: 8px;
}
.name_class h4 {
	font-size: 13px;
}
.view_profile a {
	font-size: 8px;
	padding: 9px 5px;
	transition: .3s;
	float: left;
	clear: both;
	margin-top: 10px;
}
a.view_all_btn {
	font-size: 12px;
	padding: 7px 15px;
}
.list_title_right {
	margin-bottom: 13px;
	margin-top: 15px;
}
	.massage_notify ul li a {
	font-size: 11px;
}
.name_mark p {
	font-size: 20px;
	margin: 0;
}
.list_title h4 {
	font-size: 14px;
	margin: 0;
}
.view_profile {
	margin-top: 0;
}
.search-query.form-control {
	font-size: 10px;
}
}